<footer style="background-color:#FCFFE7;">
  <div class="container mt-3 p-5 ">
    <div class="row p-3">
      <div class="col">
        <img src="rentacar.png" alt="Logo" class="img-fluid w-50" />
        <p class=" lh-base">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto est dolorum error molestiae similique, ullam veniam corrupti quo omnis excepturi inventore assumenda repellendus, facere accusantium laboriosam at! Natus, voluptate cumque.</p>
      </div>
      <div class="col">
        <ul style="list-style-type:none;"> 
          <li class="p-2 fw-bold disabled">Sitemap</li>
          <li class="p-2">Home</li>
          <li class="p-2">How it Works</li>
          <li class="p-2">Cars</li>
          <li class="p-2">Testimonial</li>
        </ul>
      </div>
      <div class="col">
        <ul style="list-style-type:none;">
          <li class="p-2 fw-bold disabled">Support</li>
          <li class="p-2">Live Support</li>
          <li class="p-2">Help</li>
          <li class="p-2">FAQ</li>
          <li class="p-2">Privacy Policy</li>
        </ul>
      </div>
      <div class="col">
        <ul style="list-style-type:none;">
          <li class="p-2 fw-bold disabled">Contact</li>
          <li class="p-2"><span class="fw-bold text-primary">Address</span>20 Crown Street,<br/> London, SW17 5SZ</li>
          <li class="p-2"><span class="fw-bold text-primary">Phone</span>+90 554 635 8808</li>
          <li class="p-2"><span class="fw-bold text-primary">Email</span>rentacar@gmail.com</li>
        </ul>
      </div>
    </div>
    <div class="row border border-primary rounded-2 p-3 d-flex align-items-center">
      <div class="col">
        <p class="text-secondary">&copy; 2021 Renta. All rights reserved</p> 
      </div>
      <div class="col d-flex flex-row justify-content-center">
        <div style="width:100px;height:64px;vertical-align:middle;border-radius:50%;">
          <i class="bi bi-facebook" style="font-size:32px;color:blue;"></i>
        </div>
        <div style="width:100px;height:64px;vertical-align:middle;border-radius:50%;">
          <i class="bi bi-twitter" style="font-size:32px;color:#1DA1F2;"></i>
        </div>
        <div style="width:100px;height:64px;vertical-align:middle;border-radius:50%;">
          <i class="bi bi-instagram" style="font-size:32px;color:#5851DB;"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-end">
        <p class="text-secondary">Terms & Conditions</p>
      </div>
    </div>
  </div>
</footer>