<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div class="container">
<div class="row">
    <div class="w-50 mx-auto border">
        <h3>
        <span>
            <%= image_tag(@user.avatar,width: '64px', height: '64px', class: 'rounded-circle border') %>
        </span>
         <%= @user.name %> <%= @user.surname %> <%= @user.age %> </h3>
    </div>
</div>
</div>