<section id="introduction">
  <div class="container-fluid px-5 py-5">
    <div class="row">
      <div class="info col col-xs-12 py-5 my-5">
        <div class="shadow bg-body w-75 rounded p-3 mb-5">
          <h1 class="fw-bold">Easy and fast way<br/>
            to rent your car</h1>
          <p class="fs-6 w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus distinctio esse totam consectetur, ipsam neque facere error. Doloremque itaque dignissimos explicabo, quia quaerat, harum nihil incidunt sapiente corrupti autem qui?</p>
          <button class="btn btn-primary">Book a Car</button>
        </div>
      </div>
      <div class="car col-6" 
                style="background-image:url('yellowbackground2.jpg');
                background-size:cover;
                background-repeat:no-repeat;
                background-attachment: fixed;
                border-radius:15px;
                "
            >
        <img src="merco.png" alt="Mercedes" class="img-fluid" />
      </div>
    </div>
    <div class="row shadow p-5 mt-3 mb-5 bg-body rounded">
      <div class="col">
        <label class="form-label fw-bold">Pick Up Location</label>
        <div class="input-group px-2 py-2 w-75 mb-3 border border-primary rounded-3">
          <label class="input-group-text bg-transparent" style="border:none;" for=""><i class="bi bi-geo-alt"></i></label>
          <select class="form-select" aria-label="Filter select" style="border:none;">
            <option selected><i class="bi bi-funnel"></i>Kingston upon hall</option>
            <option value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Inactive</option>
          </select>
        </div>
      </div>
      <div class="col">
        <label class="form-label fw-bold">Return Location</label>
        <div class="input-group px-2 py-2 w-75 mb-3 border border-primary rounded-3">
          <label class="input-group-text bg-transparent" style="border:none;" for=""><i class="bi bi-geo-alt"></i></label>
          <select class="form-select" aria-label="Filter select" style="border:none;">
            <option selected><i class="bi bi-funnel"></i>Kingston upon hall</option>
            <option value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Inactive</option>
          </select>
        </div>
      </div>
      <div class="col">
        <label class="form-label fw-bold">Pick Up Date</label>
        <div class="input-group px-2 py-2 w-75 mb-3 border border-primary rounded-3">
          <label class="input-group-text bg-transparent" style="border:none;" for=""><i class="bi bi-calendar"></i></label>
          <select class="form-select" aria-label="Filter select" style="border:none;">
            <option selected><i class="bi bi-funnel"></i>Kingston upon hall</option>
            <option value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Inactive</option>
          </select>
        </div>
      </div>
      <div class="col">
        <label class="form-label fw-bold">Return Date</label>
        <div class="input-group px-2 py-2 w-75 mb-3 border border-primary rounded-3">
          <label class="input-group-text bg-transparent" style="border:none;" for=""><i class="bi bi-geo-alt"></i></label>
          <select class="form-select" aria-label="Filter select" style="border:none;">
            <option selected><i class="bi bi-funnel"></i>Kingston upon hall</option>
            <option value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Inactive</option>
          </select>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="d-flex my-auto">
          <button class="btn btn-primary p-3 btn-lg rounded-3">Search a Car</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="whychoose">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mx-auto">
        <h1>Why Choose Renta?</h1>
      </div>
    </div>
    <div class="row text-center my-5">
      <div class="col-4 d-flex flex-column info-card">
        <div class="card-icon mb-3">
          <img src="space-shuttle-icon.png" alt="icon" class="img-fluid" width="25%" height="25%" />
        </div>
        <div class="card-text">
          <h5 class="fw-bold mb-3">Fast & Easy Booking</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum maiores nihil libero recusandae veniam sed nam quas reprehenderit</p>
        </div>
      </div>
      <div class="col-4 info-card">
        <div class="card-icon mb-3">
          <img src="location_icon.png" alt="icon" class="img-fluid" width="25%" height="25%" />
        </div>
        <div class="card-text">
          <h5 class="fw-bold mb-3">Many Pickup Location</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum maiores nihil libero recusandae veniam sed nam quas reprehenderit</p>
        </div>
      </div>
      <div class="col-4 info-card">
        <div class="card-icon mb-3">
          <img src="customer.png" alt="icon" class="img-fluid" width="25%" height="25%" />
        </div>
        <div class="card-text">
          <h5 class="fw-bold mb-3">Satisfied Customers</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum maiores nihil libero recusandae veniam sed nam quas reprehenderit</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="suitableCars">
  <div class="container">
    <div class="row mb-5">
      <div class="col-4">
        <h3 class="fw-bold">Book Your Suitable Car</h3>
      </div>
      <div class="col-8 d-flex flex-row">
        <div class="col">
          <select class="form-select p-3" aria-label="Filter select" style="width:90%;">
            <option selected><i class="bi bi-funnel"></i>Kingston upon hall</option>
            <option value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Inactive</option>
          </select>
        </div>
        <div class="col">
          <select class="form-select p-3" aria-label="Filter select" style="width:90%;">
            <option selected><i class="bi bi-funnel"></i>Kingston upon hall</option>
            <option value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Inactive</option>
          </select>
        </div>
        <div class="col">
          <select class="form-select p-3" aria-label="Filter select" style="width:90%;">
            <option selected><i class="bi bi-funnel"></i>Kingston upon hall</option>
            <option value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Inactive</option>
          </select>
        </div>
        <div class="col">
          <select class="form-select p-3" aria-label="Filter select" style="width:90%;">
            <option selected><i class="bi bi-funnel"></i>Kingston upon hall</option>
            <option value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Inactive</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col shadow bg-body rounded p-3 me-5">
        <h5 class="fw-bold mb-3">Honda Jazz</h5>
        <img src="hondajazz.png" alt="" class="img-fluid mb-3" width="100%" height="100%" />
        <h6 class="fw-bold">$250/Day</h6>
        <div class="mb-3 d-flex flex-row">
          <div class="ratings">
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
          </div>
          <h6 class="review-count ms-3 mt-1">12 Reviews</h6>
        </div>
        <div class="car-properties d-flex flex-row">
          <div class="col me-2">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-person-circle" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">4 Seats</p>
          </div>
          <div class="col me-2 text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-snow" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">AC</p>
          </div>
          <div class="col me-2 text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-gear" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">Auto</p>
          </div>
          <div class="col text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC;">
              <%# <i class="bi bi-fuel-pump" style="font-size:18px;color:#3E77B6;"></i> %>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-fuel-pump" style="color:#3E77B6;" viewBox="0 0 16 16">
                <path d="M3 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5Z"/>
                <path d="M1 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v8a2 2 0 0 1 2 2v.5a.5.5 0 0 0 1 0V8h-.5a.5.5 0 0 1-.5-.5V4.375a.5.5 0 0 1 .5-.5h1.495c-.011-.476-.053-.894-.201-1.222a.97.97 0 0 0-.394-.458c-.184-.11-.464-.195-.9-.195a.5.5 0 0 1 0-1c.564 0 1.034.11 1.412.336.383.228.634.551.794.907.295.655.294 1.465.294 2.081v3.175a.5.5 0 0 1-.5.501H15v4.5a1.5 1.5 0 0 1-3 0V12a1 1 0 0 0-1-1v4h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V2Zm9 0a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v13h8V2Z"/>
              </svg>
            </div>
            <p class="text-secondary">Petrol</p>
          </div>
        </div>
      </div>
      <div class="col shadow bg-body rounded p-3 me-5">
        <h5 class="fw-bold mb-3">Honda Jazz</h5>
        <img src="hondajazz.png" alt="" class="img-fluid mb-3" width="100%" height="100%" />
        <h6 class="fw-bold">$250/Day</h6>
        <div class="mb-3 d-flex flex-row">
          <div class="ratings">
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
          </div>
          <h6 class="review-count ms-3 mt-1">12 Reviews</h6>
        </div>
        <div class="car-properties d-flex flex-row">
          <div class="col me-2">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-person-circle" style="font-size:18px;color:#4E97D1;"></i>
            </div>
            <p class="text-secondary">4 Seats</p>
          </div>
          <div class="col me-2 text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-snow" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">AC</p>
          </div>
          <div class="col me-2 text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-gear" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">Auto</p>
          </div>
          <div class="col text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC;">
              <%# <i class="bi bi-fuel-pump" style="font-size:18px;color:#3E77B6;"></i> %>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-fuel-pump" style="color:#3E77B6;" viewBox="0 0 16 16">
                <path d="M3 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5Z"/>
                <path d="M1 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v8a2 2 0 0 1 2 2v.5a.5.5 0 0 0 1 0V8h-.5a.5.5 0 0 1-.5-.5V4.375a.5.5 0 0 1 .5-.5h1.495c-.011-.476-.053-.894-.201-1.222a.97.97 0 0 0-.394-.458c-.184-.11-.464-.195-.9-.195a.5.5 0 0 1 0-1c.564 0 1.034.11 1.412.336.383.228.634.551.794.907.295.655.294 1.465.294 2.081v3.175a.5.5 0 0 1-.5.501H15v4.5a1.5 1.5 0 0 1-3 0V12a1 1 0 0 0-1-1v4h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V2Zm9 0a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v13h8V2Z"/>
              </svg>
            </div>
            <p class="text-secondary">Petrol</p>
          </div>
        </div>
      </div>
      <div class="col shadow bg-body rounded p-3 me-5">
        <h5 class="fw-bold mb-3">Honda Jazz</h5>
        <img src="hondajazz.png" alt="" class="img-fluid mb-3" width="100%" height="100%" />
        <h6 class="fw-bold">$250/Day</h6>
        <div class="mb-3 d-flex flex-row">
          <div class="ratings">
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
          </div>
          <h6 class="review-count ms-3 mt-1">12 Reviews</h6>
        </div>
        <div class="car-properties d-flex flex-row">
          <div class="col me-2">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-person-circle" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">4 Seats</p>
          </div>
          <div class="col me-2 text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-snow" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">AC</p>
          </div>
          <div class="col me-2 text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-gear" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">Auto</p>
          </div>
          <div class="col text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC;">
              <%# <i class="bi bi-fuel-pump" style="font-size:18px;color:#3E77B6;"></i> %>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-fuel-pump" style="color:#3E77B6;" viewBox="0 0 16 16">
                <path d="M3 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5Z"/>
                <path d="M1 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v8a2 2 0 0 1 2 2v.5a.5.5 0 0 0 1 0V8h-.5a.5.5 0 0 1-.5-.5V4.375a.5.5 0 0 1 .5-.5h1.495c-.011-.476-.053-.894-.201-1.222a.97.97 0 0 0-.394-.458c-.184-.11-.464-.195-.9-.195a.5.5 0 0 1 0-1c.564 0 1.034.11 1.412.336.383.228.634.551.794.907.295.655.294 1.465.294 2.081v3.175a.5.5 0 0 1-.5.501H15v4.5a1.5 1.5 0 0 1-3 0V12a1 1 0 0 0-1-1v4h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V2Zm9 0a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v13h8V2Z"/>
              </svg>
            </div>
            <p class="text-secondary">Petrol</p>
          </div>
        </div>
      </div>
      <div class="col shadow bg-body rounded p-3 me-5">
        <h5 class="fw-bold mb-3">Honda Jazz</h5>
        <img src="hondajazz.png" alt="" class="img-fluid mb-3" width="100%" height="100%" />
        <h6 class="fw-bold">$250/Day</h6>
        <div class="mb-3 d-flex flex-row">
          <div class="ratings">
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
            <i class="bi bi-star" style="font-size:20px;"></i>
          </div>
          <h6 class="review-count ms-3 mt-1">12 Reviews</h6>
        </div>
        <div class="car-properties d-flex flex-row">
          <div class="col me-2">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-person-circle" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">4 Seats</p>
          </div>
          <div class="col me-2 text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-snow" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">AC</p>
          </div>
          <div class="col me-2 text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC">
              <i class="bi bi-gear" style="font-size:18px;color:#3E77B6;"></i>
            </div>
            <p class="text-secondary">Auto</p>
          </div>
          <div class="col text-center">
            <div class="mb-3 rounded-4 p-3 text-center" style="background-color:#BBD2EC;">
              <%# <i class="bi bi-fuel-pump" style="font-size:18px;color:#3E77B6;"></i> %>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-fuel-pump" style="color:#3E77B6;" viewBox="0 0 16 16">
                <path d="M3 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5Z"/>
                <path d="M1 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v8a2 2 0 0 1 2 2v.5a.5.5 0 0 0 1 0V8h-.5a.5.5 0 0 1-.5-.5V4.375a.5.5 0 0 1 .5-.5h1.495c-.011-.476-.053-.894-.201-1.222a.97.97 0 0 0-.394-.458c-.184-.11-.464-.195-.9-.195a.5.5 0 0 1 0-1c.564 0 1.034.11 1.412.336.383.228.634.551.794.907.295.655.294 1.465.294 2.081v3.175a.5.5 0 0 1-.5.501H15v4.5a1.5 1.5 0 0 1-3 0V12a1 1 0 0 0-1-1v4h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V2Zm9 0a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v13h8V2Z"/>
              </svg>
            </div>
            <p class="text-secondary">Petrol</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="brands" class="mt-5">
  <div class="container" style="padding:5rem 10rem;background-color:#FCFFE7;">
    <div class="row text-center">
      <div class="col">
        <div class="shadow bg-body rounded-5 bg-white p-3">
          UnionBank
        </div>
      </div>
      <div class="col">
        <div class="shadow bg-body rounded-5 bg-white p-3">
          Tunein
        </div>
      </div>
      <div class="col">
        <div class="shadow bg-body rounded-5 bg-white p-3">
          Walmart
        </div>
      </div>
      <div class="col">
        <div class="shadow bg-body rounded-5 bg-white p-3">
          Hubspot
        </div>
      </div>
      <div class="col">
        <div class="shadow bg-body rounded-5 bg-white p-3">
          Club Med
        </div>
      </div>
    </div>
  </div>
</section>
