<div class="container">
<div class="row">
    <div class="w-50 mx-auto border">
        <h3> 
            <% @car.images.each do |image| %>
                <%= image_tag url_for(image), class: 'img-fluid', :style => "width:300px;height:auto;border-radius:15px;" %>
            <% end %>
            <%= @car.name %>
            <%= @car.brand %>
            <%= @car.case_type %> </h3>
    </div>
</div>
</div>